@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:wght@700;900&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --Soft_red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark_desaturated_cyan: hsl(167, 40%, 24%); /*? graphic design text */
    --Dark_blue: hsl(198, 62%, 26%); /*? photography text */
    --Dark_moderate_cyan: hsl(168, 34%, 41%); /*? footer  */

    --Very_dark_desaturated_blue: hsl(212, 27%, 19%);
    --Very_dark_grayish_blue: hsl(213, 9%, 39%);
    --Dark_grayish_blue: hsl(232, 10%, 55%);
    --Grayish_blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* *FONTS */
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}
/* *** GLOBAL *** */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--Barlow);
}

*,*::after,*::before{
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
}
img{
    max-width: 100%;
}
h1, h2, h3, P{
    margin: 0;
}
a{
    text-decoration: none;
}
picture{
    line-height: 0;
}
blockquote{
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: var(--Very_dark_desaturated_blue);
}
.container{
    max-width: 144rem;
    padding: 6rem 2.4rem;
}

.header{
    max-width: 144rem;
    width: 100%;
    z-index: 100;
}
/* *** NAV *** */
.nav{
    position: absolute;
    left: 2.4rem;
    right: 2.4rem;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    position: fixed;
    top: -500%;
    left: 2.4rem;
    right: 2.4rem;
    padding: 2rem;
    margin: 0;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 4rem; */
    z-index: 101;
    transition: .3s top ease-in-out;
}
.nav__list::after{
    content: '';
    position: absolute;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--White);
    right: 0;
    top: -2.4rem;    
}

.nav__list.active{
    top: 10rem;
}
.nav__item{
    list-style: none;
}
.nav__link{
    display: inline-block;
    padding: 2rem 0;
    color: var(--Very_dark_grayish_blue);
    transition: .3s all ease;
}
.nav__link:hover{
    opacity: .5;
}
.nav__toggle{
    cursor: pointer;
}
.nav__item:last-of-type .nav__link{
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 1.4rem;
    background-color: var(--Yellow);
    padding: 2rem 3rem;
    margin: 2rem 0;
    border-radius: 4rem;
    opacity: 1;
}
@media (min-width: 768px) {
    .nav {
        left: 4rem;
        right: 4rem;
        height: 13rem;
    }
    .nav__list{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4.5rem;
        z-index: 101;
        transition: .3s top ease-in-out;
    }
    .nav__list::after{
        display: none;
    }
    .nav__list.active{
        top: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link {
        font-weight: 600;
        font-size: 1.8rem;
        color: var(--White);
    }
    .nav__item:last-of-type .nav__link {
        font-size: 1.5rem;
        background-color: var(--White);
        color: var(--Dark_desaturated_cyan);
        margin: 0;
        transition: .3s all ease;
    }
    .nav__item:last-of-type .nav__link:hover{
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        opacity: 1;
    }
}

/* *** HERO *** */
.hero{
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__title{
    color: var(--White);
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .72rem;
    margin-bottom: 6rem;
}
@media (min-width: 768px) {
    .hero {
        background-image: url(../images/desktop/image-header.jpg);
        min-height: 80rem;
    }
    .hero__title {
        font-size: 5.5rem;
        letter-spacing: 1rem;
        margin-bottom: 9.5rem;
    }
    .hero__img{
        margin-bottom: 10rem;
    }
}
/* *** SERVICES *** */
.service{
    display: flex;
    flex-direction: column;
}
.service__title{
    font-family: var(--Fraunces);
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: .064rem;
    text-align: center;
    color: var(--Very_dark_desaturated_blue);
}
.service__text{
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--Dark_grayish_blue);
    margin: 3rem 0;
}
.btn{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.032rem;
    color: var(--Very_dark_desaturated_blue);

}
.btn::before{
    content: '';
    position: absolute;
    width: 13.5rem;
    height: 1rem;
    background-color: var(--Yellow);
    border-radius: .5rem;
    bottom: -.2rem;
    z-index: -1;
    opacity: .4;
}
.btn:hover.btn::before{
    opacity: 1;
}
.btn-rose::before{
    background-color: var(--Soft_red);
}
.graphic{
    width: 100%;
    min-height: 60rem;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.graphic:last-of-type{
    background-image: url(../images/mobile/image-photography.jpg);
}
.graphic__content{
    text-align: center;
    color: var(--Dark_desaturated_cyan);
}
.graphic__title{
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 2.8rem;
    text-transform: capitalize;
    letter-spacing: .056rem;
    
}
.graphic__text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: .03rem;
    margin: 3rem 0 0 0;
}
.graphic:last-of-type .graphic__content{
    color: var(--Dark_blue);
}
@media (min-width: 768px) {
    .services{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);

    }
    .services picture:first-of-type {
        grid-column: 2 / 3;
    }
    .service:first-of-type{
        grid-row: 1 / 2;
    }
    .service{
        max-width: 45rem;
        align-items: flex-start;
        padding: 0;
    }
    .service__title {        
        font-size: 4rem;
        letter-spacing: .08rem;
        text-align: left;
    }
    .service__text {
        margin: 4rem 0;
        text-align: left;
    }
    .btn{
        margin-left: 1rem;
    }
    .graphic {
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }

    .graphic:last-of-type {
        background-image: url(../images/desktop/image-photography.jpg);
    }
    .graphic__content{
        max-width: 34rem;
        padding: 0 0 6rem 0;
    }
}

/* *** CLIENT TESTIMONIALS *** */
.testimonials__title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: var(--Grayish_blue);
}
.card{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
}
.card__img{
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    overflow: hidden;
}
.card__author{
    font-family: var(--Fraunces);
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.card__authorPosition{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--Grayish_blue);
}
@media (min-width: 768px) {
    .testimonials{
        padding: 15rem 2.4rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 35rem);
        gap: 4rem;
    }
    .testimonials__title {
        grid-column: 1 / -1;
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    .card{        
        gap: 6rem;
    }
}
/* *** PROJECTS *** */
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* *** FOOTER *** */
.footer{
    background-color: #90D4C5;
    text-align: center;
    
}
.footer__img img{
    width: 17rem;
}
.footer__nav{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0 6rem 0;
}
.footer__nav a{
    font-size: 1.8rem;
    color: var(--Dark_moderate_cyan);
    transition: .3s color ease;
}
.footer__nav a:hover{
    color: var(--White);
}
.social a{
    display: inline-block;
    padding: 2rem 1rem;
    
}
.social a path{
    transition: fill .3s ease;
}
.social a:hover path{
    fill: white;
}
